language: node_js
sudo: false
node_js:
  - "5.1.0"

env:
  - CXX=g++-4.8

cache:
  directories:
    - node_modules
    - bower_components

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

install:
  - du -sh ./node_modules ./bower_components/ || true
  - npm install
  - npm install -g bower
  - bower install

script: gulp

after_script:
  - npm run test-cov
